# Apollo.io API
APOLLO_API_KEY=4xuYClyzqNB_HtqYzvrcpQ

# Supabase Postgres
DATABASE_URL=postgres://user:password@host.supabase.co:5432/postgres

# Anthropic Claude API
ANTHROPIC_API_KEY=sk-ant-xxxxx

# Unipile Email + LinkedIn API
UNIPILE_API_KEY=hSHu2Xm4.4zzi1ERpKnyrYN3BisK7bp6VYGn60y37820TSO3k7mc=
UNIPILE_DSN=xxxxx
UNIPILE_EMAIL_ACCOUNT_ID=xxxxx
UNIPILE_LINKEDIN_ACCOUNT_ID=xxxxx

# Calendly
CALENDLY_URL=https://calendly.com/rodrigo-quesada-trucoytrufa/30min
